    <!-- Footer -->
    <footer class="footer font-small">
      <div class="container">
        <p class="text-muted">&copy; Sobremesa 2018 | <a href="/blogs">Home</a> | <a href="/blogs/new">New Post</a> | <a href="https://github.com/monocosmo/Sobremesa.git">GitHub</a></p>
      </div>
    </footer>
    </body>
</html>