i.icon {
    font-size: 1.5em;
}

.container.main {
    margin-top: 5.0em;
}

#delete {
    display: inline;
}

#show_date {
    color: gray;
    height: 2.5em;
}

footer {
   margin-top: 100px;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}